OCR/.venv311
OCR/__pycache__/
OCR/*.pyc
OCR/output.log
OCR/data/out_images/
OCR/data/*.md
OCR/*.md
OCR/fail.txt
BaoCaoTaiChinh/OCR/data/out_images
OCR/data/Ngành Bảo hiểm
BaoCaoTaiChinh/OCR/CKP/__pycache__
BaoCaoTaiChinh/OCR/__pycache__
*.log
OCR