~$*.xlsx
~$*.xls
*.tmp
.venv/
.env
BaoCaoTaiChinh/OCR/ExtractBaoCaoTaiChinh/__pycache__/main_CanDoiKeToan.cpython-312.pyc
BaoCaoTaiChinh/OCR/ExtractBaoCaoTaiChinh/__pycache__/utils_file_ops.cpython-312.pyc
BaoCaoTaiChinh/OCR/ExtractBaoCaoTaiChinh/__pycache__/utils_markdownCanDoiKeToanText_DetectTable_to_xlsx.cpython-312.pyc
BaoCaoTaiChinh/OCR/ExtractBaoCaoTaiChinh/__pycache__/utils_markdownTable_to_xlsx.cpython-312.pyc
BaoCaoTaiChinh/OCR/ExtractBaoCaoTaiChinh/__pycache__/utils_prepare_process.cpython-312.pyc
BaoCaoTaiChinh/OCR/ExtractBaoCaoTaiChinh/__pycache__/utils_xlsx_to_json.cpython-312.pyc
